/*------------------------------------*\
  #SECTION-HERO
\*------------------------------------*/

.section__hero {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    max-width: 144rem;
    padding: 27.7rem 6rem 3.3rem 7.2rem;
    width: 100%;
  }
  
  .section__hero::before {
    background-color: var(--black);
    background-image: url(/images/home/hero/vectors-02.svg), linear-gradient(to top, var(--black), transparent),
      url(/images/home/hero/hero-bg.png);
    background-position: bottom, 50%;
    background-repeat: no-repeat;
    background-size: auto, cover, cover;
  }
  
  .hero__texts {
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 3rem;
    max-width: 48.7rem;
    width: 100%;
  }
  
  .hero__title {
    margin-bottom: 3.2rem;
    max-width: 12em;
    /*text-transform: uppercase;*/
  }
  
  .hero__text {
    line-height: 1.2;
    max-width: 25em;
    margin-bottom: 3rem;
  }
  
  .hero__button {
    font-size: 1.6rem;
    line-height: calc(2.8 / 1.6);
  }
  
  .hero__image_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 79.1rem;
    width: 100%;
  }
  
  .hero__image_wrapper:hover {
    cursor: pointer;
  }
  
  .hero__image_wrapper::before,
  .hero__image_wrapper::after {
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  .hero__image_wrapper::before {
    background: url('/images/home/hero/white-shape.svg') no-repeat center center/contain;
    top: -14.5%;
    left: 0;
    width: 21%;
    height: 42%;
  }
  
  .hero__image_wrapper::after {
    background: url('/images/home/hero/blue-shape.svg') no-repeat center center/cover;
    top: calc(100% - 66px);
    left: 48%;
    width: 8vw;
    height: calc(8vw * 0.55);
  }
  
  .hero_images__video {
    width: 100%;
  }
  
  .hero__social_network_list {
    align-self: flex-end;
    align-items: center;
    display: flex;
    height: 6.5rem;
  }
  
  .social_network_list__item {
    padding: 2.2rem;
  }
  
  @media (max-width: 1300px) {
    .hero__social_network_list {
      margin-left: -3rem;
      margin-right: unset;
    }
  }
  
  @media (max-width: 1100px) {
    .hero_images__blue_shape {
      width: 80%;
    }
  }
  
  @media (max-width: 1000px) {
    .hero_images__white_shape {
      width: 80%;
    }
  }
  
  @media (max-width: 920px) {
    .section__hero {
      flex-direction: column;
      padding-top: 17rem;
    }
  
    .hero__texts {
      margin: 0;
      margin-bottom: 13.5rem;
    }
  }
  
  @media (max-width: 800px) {
    .section__hero {
      flex-direction: column;
      justify-content: flex-start;
      padding: 16rem 0 10rem 2rem;
    }
  
    .hero__text {
      margin-right: 0;
      max-width: 17em;
    }
  
    .hero_images__video {
      margin-left: -1rem;
    }
  
    .hero__social_network_list {
      align-self: flex-start;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
    }
  }
  
  @media (max-width: 700px) {
    .hero__slogan {
      font-size: 3.6rem;
    }
  }