#map {
	/*width: 100%;
	height: 400px;*/
}

.IWHeader{
	font-weight: bold;
}

.IWHeader, .IWLine {
	max-width: 250px;
}

#_mapUserLocationButton {
    background-image: url(../images/map/location.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: 0px;
    margin: 10px 5px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

#pac-container {
  margin: 10px 5px;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 2px;
}

#pac-input:focus {
	outline-color: #ccc;
}