.scrollToTop {
    position: fixed;
    display: inline-block;
    top: 87vh;
    right: 6.5%;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    z-index: 2;
    padding-top: 4px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 9;
    }