.icon__button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100%;
  transition: .3s;
  border: 1px solid transparent;
  color: var(--black);
}
.icon__button:hover {
  border: 1px solid var(--silver-chalice);
}
.icon__button:active .icon__button:focus, .active {
  border: 1px solid var(--black);
}