.card {
  width: 100%;
  display: inline-block;
 /*  width: 33.8rem; */
  border-radius: 0px 0px 8px 8px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgb(175 175 175 / 25%);
  transition: 0.4s;
  margin-bottom: 3.4rem;
  /* SACAR PARA MASONRY */
  /* flex: 0 0 33.8rem; */
}
.card:hover {
  box-shadow: 0px 4px 20px rgb(4 81 221 / 15%);
}
.card_image {
  height: 22.3rem;
  object-fit: cover;
}
.card_image_position {
  object-position: left top;
}
.card_body {
  padding: 3.4rem 3.1rem 0;
  height: 13.5em;
}
.card_body h3 {
  height: 14rem;
  line-height: 1.15em;
  overflow: hidden;
}
.card_body h2 {
  height: 14rem;
  line-height: 1.15em;
  overflow: hidden;
}
.text__h1b {
  font-size: 2.67rem;
  font-weight: 500;
  line-height: 4rem;
}
@media (max-width: 767px) {
  .text__h1b {
    font-size: 2.4rem;
    line-height: 1.3;
  }
}
.card_footer {
  padding: 1.4rem 3.1rem 4.1rem;
  display: flex;
  justify-content: space-between;
}

.date {
  margin-top: 1.3rem;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .date {
    margin-top: 0;
    margin-left: 1px;
  }
}

.more {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.more svg {
  margin: 0 3px 2px 15px;
}

.card .more,
.card svg{
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.card svg {
  position: relative;
  right: 0;
}
.card:hover .more {
  opacity: 0.65;
}
.card:hover .more svg {
  position: relative;
  right: -5px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    margin-bottom: 4.6rem;
  }
  .card_image {
    height: 17rem;
  }
  .card_body {
    padding: 2rem 1.6rem 0;
  }
  .card_body h3 {
    height: 14rem;
  }
  .card_footer {
    padding: 2.1rem 1.6rem 2.9rem;
  }
  .more {
    font-size: 1.2rem;
    margin-top: -2px;
  }
}